[Desktop Entry]
Name=Lplayer
GenericName=Music Player
Comment=A Simple Audio Player
Keywords=Audio;Podcast;MP3;Song;
Exec=/usr/bin/lplayer %u
TryExec=lplayer
Icon=lplayer
Type=Application
Terminal=false
StartupNotify=true
Encoding=utf-8
Categories=GNOME;GTK;AudioVideo;Audio;Player;
MimeType=application/x-ogg;application/ogg;audio/x-vorbis+ogg;audio/x-scpls;audio/x-mp3;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;audio/flac;audio/m4a;audio/x-m4a;audio/mp4