[Desktop Entry]
Name=yoaup
GenericName=Music Player
Comment=A Youtube Audio Player
Keywords=Audio;Podcast;MP3;Song;
Exec=/usr/bin/yoaup
TryExec=yoaup
Icon=yoaup
Type=Application
Terminal=false
StartupNotify=true
Encoding=utf-8
Categories=GNOME;GTK;AudioVideo;Audio;Player;
